@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookApp.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "UserName")?.Value;
}

@if(SignInManager.IsSignedIn(User))
{
    <a asp-controller="User" asp-action="Details"><span class="glyphicon glyphicon-user"></span> @claim</a>
}
else
{
    <a asp-controller="User" asp-action="SignIn"><span class="glyphicon glyphicon-user"></span> Sign In</a>
}