@model BookApp.Models.BookViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container" id="">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Books" asp-action="Details">Details</a></div>    
<h1>@Model.Title</h1>
    <div class="component" id="details-container">
        <div class="row">
            <div class="col-md-4 details-left">
                <img src="Model.Image" alt="Model.Image">
            </div>
            <div class="col-md-6 details-right">
                <h3>Description about the book</h3>
                <p id="short-description">@Model.Description</p>
                <h3 id="stars-book">Stars: <span class="glyphicon glyphicon-star"></span></h3>
                <h3 id="h3-author-details-for-book">Author: </h3>
                <p id="author-details-for-book">@Model.Author.Name</p>
                
                <br>
                <div id="wishlist-box"><p>Add to bakset</p><span class="glyphicon glyphicon-heart icon"></span></div>
                <div id="basket-box"><p>Add to wishlist</p><span class="glyphicon glyphicon-shopping-cart icon"></span></div>
            </div>
            <div class="col-md-10 details-right">
                <h3 id="h3-rate">Rate the book!</h3>
                <form action="#" method="post">
                    <label for="rate-stars" id="label-rate">Stars: 
                    <select name="rate-stars" class="rate-stars-selector">
                        <option value="1-star">1 star!</option>
                        <option value="2-star">2 stars!</option>
                        <option value="3-star">3 stars!</option>
                        <option value="4-star">4 stars!</option>
                        <option value="5-star">5 stars!</option></label>
                    </select>
                    <label for="rate-comment" id="label-rate">Comment about the book 
                        <textarea name="rate-comment" id="rate-comment" cols="30" rows="3">Write here..</textarea>
                    </label>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
            </div>
        </div>
        
    </div>
</div>