@{
    ViewData["Title"] = "Details";
}
<div class="container" id="">
    <div class="tree"><a href="#">Home page</a> >> <a href="#">Details</a></div>
    <h1>TITILL BÓKAR</h1>
    <div class="component" id="details-container">
        <div class="row">
            <div class="col-md-4 details-left">
                <img src="~/images/jolatre.jpg" alt="Jólatré">
            </div>
            <div class="col-md-6 details-right">
                <h3>Short description about the book</h3>
                <p id="short-description">Stutt lýsing um bók....Stutt lýsing um bók....Stutt lýsing um bók....Stutt lýsing um bók....Stutt lýsing um bók....Stutt lýsing um bók....Stutt lýsing um bók....</p>
                <h3 id="stars-book">Stars: <span class="glyphicon glyphicon-star"></span></h3>
                <h3 id="h3-author-details-for-book">Author: </h3>
                <p id="author-details-for-book">Þorbjörg Hekla</p>
                <h3>Details about the book</h3>
                <p id="long-description">Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...Mjög ítarleg lýsing á bók...</p>
                <!--> VANTAR AÐ GERA READ MORE GÆJA - mögulega láta koma pop up glugga með öllum textanum? <!-->
                <br>
                <div id="wishlist-box"><p>Add to bakset</p><span class="glyphicon glyphicon-heart icon"></span></div>
                <div id="basket-box"><p>Add to wishlist</p><span class="glyphicon glyphicon-shopping-cart icon"></span></div>
            </div>
            <div class="col-md-10 details-right">
                <h3 id="h3-rate">Rate the book!</h3>
                <form action="#" method="post">
                    <label for="rate-stars" id="label-rate">Stars: 
                    <select name="rate-stars" class="rate-stars-selector">
                        <option value="1-star">1 star!</option>
                        <option value="2-star">2 stars!</option>
                        <option value="3-star">3 stars!</option>
                        <option value="4-star">4 stars!</option>
                        <option value="5-star">5 stars!</option></label>
                    </select>
                    <label for="rate-comment" id="label-rate">Comment about the book 
                        <textarea name="rate-comment" id="rate-comment" cols="30" rows="3">Write here..</textarea>
                    </label>
                </form>
            </div>
        </div>
        
    </div>
</div>