@{
    ViewData["Title"] = "Check Out";
}

<div class="container" id="signin-container">
    <div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="User" asp-action="Cart">Cart</a> >> <a asp-controller="User" asp-action="CheckOut">Check Out</a></div>
    <h1>Payment</h1>
    <div class="row" id="check-out-main-row">
        <div class="component" id="check-out">
            <h4 class="h4-your-details">Your details</h4>
            <form asp-controller="User" asp-action="CartCheckOut" method="POST" class="form-for-checkout">
                <div class="form-group user-form-input">
                    <label for="email">Your email</label>
                    <p id="p-email">Your order will be sent to this email</p>
                    <input id="email" for="Email" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="fname">First Name</label>
                    <input id="fname" for="FirstName" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="lname">Last Name</label>
                    <input id="lname" for="LastName" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="country">Your Country</label>
                    <input id="country" for="Country" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="city">Your City</label>
                    <input id="city" for="City" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="address">Your Address</label>
                    <input id="address" for="Address" type="text" class="form-control" required>
                </div>
                <h4 class="h4-your-details">Payment type</h4>
                <p id="p-cedit">Debit / Credit card</p>
                <div class="form-group user-form-input">
                    <label for="card-number">Card number</label>
                    <input id="card-number" for="Card-number" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="exp-date">Expiry date</label>
                    <input id="exp-date" for="Expiry-date" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="exp-date">Expiry date</label>
                    <div id="exp-selects">
                    <select id="exp-date-mm" class="select-exp" required>
                        <option value="1">01</option>
                        <option value="2">02</option> 
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select id="exp-date-aa" class="select-exp" required>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                    </div>
                </div>
                <div class="form-group user-form-input">
                    <label for="name-on-card">Name on card</label>
                    <input id="name-on-card" for="Name-on-card" type="text" class="form-control" required>
                </div>
                <div class="form-group user-form-input">
                    <label for="cvv">CVV</label>
                    <input id="cvv" for="CVV" type="text" class="form-control" required>
                </div>
                <label class="label-save-card" for="save-card">Save Card </label>
                <input id="save-card" type="checkbox" class="form-contol" checked>
                <p class="label-save-card">We accept these payment methods</p>
                <img class="label-save-card" src="~/images/visa.svg" alt="VISA" height="40px" width="auto">
                <img class="label-save-card" src="~/images/mastercard-2.svg" alt="MASTERCARD" height="40px" width="auto">
                <button class="btn place-order" id="place-order">Place Order!</button>
            </form>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Payment succeded</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Your order has been sent to your email, thank you for shopping with us!</p>
                    </div>
                        <div class="modal-footer">
                            <button id="close-btn" type="button" class="btn place-order" data-dismiss="modal">Close</button>
                            <button id="shop-more-btn" type="button" class="btn place-order"><a asp-controller="Home" asp-action="Index">Shop more</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
     <script  src="~/js/ImageInsert.js"></script>
}

