@model BookApp.Models.UserInputModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="container" id="signin-container">
    <div id="tree"><a href="#">Home page</a> >> <a href="#">Sign In</a></div>
    <div class="row" id="signin-main-row">
        <h1>Sign In or Sign Up!</h1>
        @{Html.RenderPartial("SignInView", ViewBag.SignIn);}
        @{Html.RenderPartial("RegesterView", ViewBag.Register);}
    </div>
</div>