@using BookApp.Models;
@model BookApp.Models.UserInputModel
@{
    ViewData["Title"] = "Sign In";
}

<div class="container" id="signin-container">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="User" asp-action="SignIn">Sign in</a></div>    <div class="row" id="signin-main-row">
        <h1>Sign In or Sign Up!</h1>
        <div class="col-md-6 left-sign-container">
            <div  class="component sign-container">
                <h3>Sign In</h3>
                <form asp-controller="User" asp-action="SignIn" autocomplete="off" id="signin-form" method="post">
                    <div class="form-group">
                        <label asp-for="UserName">UserName</label>
                        <input asp-for="UserName" type="text" class="form-control" id="signin-email" aria-describedby="emailHelp" placeholder="Enter username" name="UserName" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="signin-password" placeholder="Password" name="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    <div asp-validation-summary="All"></div>
                </form>
            </div>
        </div>
        <div class="col-md-6 right-sign-container">
            <div  class="component sign-container">
                <h3>Sign Up</h3>
                <form asp-controller="User" asp-action="SignUp" autocomplete="off" id="signup-form" method="post">
                    <div class="form-group">
                        <label asp-for="Email">Email address</label>
                        <input asp-for="Email" type="email" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email" name="Email" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">Username</label>
                        <input asp-for="UserName" type="text" class="form-control" id="signup-name" aria-describedby="emailHelp" placeholder="Enter name" name="UserName" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="signup-password" aria-describedby="emailHelp" placeholder="Enter password" name="Password" required>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label for="signup-password-verify">Verify Password</label>
                        <input type="password" class="form-control" id="signup-password-verify" placeholder="Enter password again" name="signin-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button> 
                    <div asp-validation-summary="All"></div>
                </form>
            </div>
        </div>
    </div>
</div>