<div class="col-md-6 left-sign-container">
    <div  class="component sign-container">
        <h3>Sign In</h3>
        <form asp-controller="User" asp-action="SignIn" autocomplete="off" id="signin-form" method="post">
            <div class="form-group">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" type="text" class="form-control" id="signin-email" aria-describedby="emailHelp" placeholder="Enter email" name="UserName" required>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="signin-password" placeholder="Password" name="Password" required>
            </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>