@{
    ViewData["Title"] = "StaffPage";
}
<div class="container" id="staffpage-container">
    <div class="tree"><a href="#">Home page</a> >> <a href="#">Staff page</a></div>
    <h1>Staff page</h1>
    <div class="component staffpage-container" id="">
        <p>hellohello</p>
    </div>
</div>