@{
    ViewData["Title"] = "StaffPage";
}
<div class="container" id="">
    <div class="tree"><a href="#">Home page</a> >> <a href="#">Staff page</a></div>
        <h1>Staff page</h1>
        <div class="component" id="staffpage-container">
                <div class="input-group">
                    <input type="hidden" name="search_param" value="all" id="search_param">         
                    <input type="text" class="form-control" name="x" placeholder="Search for book by title or author by name...">
                    <span class="input-group-btn search-icon">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            <button type="submit" class="btn btn-primary" id="add_book">Sign In</button>
            <table id="staff_books">
                <tr>
                    <th class="col-1">Name</th>
                    <th class="col-2">Id</th>
                    <th class="col-3">Edit</th>
                    <th class="col-4">Delete</th>
                </tr>
                <tr>
                    <td class="col-1">HarryPotter</td>
                    <td class="col-2"> 1234</td>
                    <td class="col-3">EDIT ICON</td>
                    <td class="col-4">DELETE ICON</td>
                </tr>
            </table>
        </div>
    </div>
</div>