@model List<BookApp.Models.StaffBookViewModel>;
@{
    ViewData["Title"] = "StaffPage"; 
}
<div class="container" id="">
    <div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="User" asp-action="StaffPage">Staff Page</a></div>        <h1>Staff page</h1>
        <div class="component" id="staffpage-container">
                <div class="input-group">
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search for book by title or id..." id="search">
                    <span class="input-group-btn search-icon">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            <button class="btn btn-primary" id="add_book" data-toggle="modal" data-target="#addModal">Add Book</button>
            <button class="btn btn-primary" id="add_book" data-toggle="modal" data-target="#addAuthorModal">Add Author</button>
            <table id="staff_books">
                <tr>
                    <th class="col-1">Name</th>
                    <th class="col-2">Id</th>
                    <th class="col-3">Edit</th>
                    <th class="col-4">Delete</th>
                </tr>
                    @foreach(var book in @Model){
                        <tr class="tableRow">
                        <td class="col-1">@book.Title</td>
                        <td class="col-2">@book.Id</td>
                        <td class="col-3"><span class="glyphicon glyphicon-pencil icon"></span></td>
                        <td class="col-4" id="book-@book.Id"><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    }
            </table>
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Book</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" id="add-book-form" method="post">
                                <div class="form-group">
                                    <label for="Title">Title</label>
                                    <input name="Title" for="Title" id="title" type="text" class="form-control" placeholder="Enter Title" required>
                                </div>
                                <div class="form-group">
                                    <label for="Genre">Genre</label>
                                    <input name="Genre" for="Genre" id="genre" type="text" class="form-control" placeholder="Enter Genre" required>
                                </div>
                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <input name="Description" for="Description" id="description" type="text" class="form-control" placeholder="Enter Description" required>
                                </div>
                                <div class="form-group">
                                    <label for="AuthorId">AuthorId</label>
                                    <input name="AuthorId" for="Genre" id="authorId" type="number" class="form-control" placeholder="Enter Author Id" required>
                                </div>
                                <div class="form-group">
                                    <label for="Image">Image</label>
                                    <input name="Image" for="Image" id="image" type="text" class="form-control" placeholder="Enter img url" required>
                                </div>
                                <div class="form-group">
                                    <label for="Rating">Rating</label>
                                    <input name="Rating" for="Rating" id="rating" type="number" class="form-control" placeholder="Enter rating" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="add_book_btn" type="button" class="btn btn-primary">Add Book</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addAuthorModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Author</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" id="add-book-form" method="post">
                                <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input id="author_name" name="Name" for="Name" type="text" class="form-control" placeholder="Enter username" required>
                                </div>
                                <div class="form-group">
                                    <label for="Description">Description</label>
                                    <input id="author_description" name="Description" for="Description" type="text" class="form-control" placeholder="Enter description" required>
                                </div>
                                <div class="form-group">
                                    <label for="Image">Image</label>
                                    <input id="author_image" name="Image" for="Image" type="text" class="form-control" placeholder="Enter image string" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="add_author_btn" type="button" class="btn btn-primary">Add Author</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
     <script  src="~/js/StaffPage.js"></script>
}