@{
    ViewData["Title"] = "StaffPage";
}
<div class="container" id="staffpage-container">
    <div class="tree"><a href="#">Home page</a> >> <a href="#">Staff page</a></div>
        <h1>Staff page</h1>
        <input type="hidden" name="staff_search" value="all" id="staff_search">
        <input type="text" class="form-control" name="s" placeholder="Search for book by title or id...">
        <span class="input-group-btn search-icon">
            <button class="btn btn-default" type="button" value="HALLO"><span class="glyphicon glyphicon-search"></span></button>
        </span>
        <input type="button" name="add_book" value="Add book" id="add_book">

        <div class="component staffpage-container" id="">
            <table id="staff_books">
                <tr>
                    <th class="col-1">Name</th>
                    <th class="col-2">Id</th>
                    <th class="col-3">Edit</th>
                    <th class="col-4">Delete</th>
                </tr>
                <tr>
                    <td class="col-1">HarryPotter</td>
                    <td class="col-2"> 1234</td>
                    <td class="col-3">EDIT ICON</td>
                    <td class="col-4">DELETE ICON</td>
                </tr>
            </table>
        </div>
    </div>
</div>