
@{
    ViewData["Title"] = "Wishlist";
}
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Home" asp-action="Wishlist">Wishlist</a></div>
<div class="container">
  <h1>My wishlist <span id="wishlist-heart" class="glyphicon glyphicon-heart icon"></span></h1>
    <div class="component help-container" id="wishlist">
    <h3>All the books are saved here in 60 days</h3>
  </div>
</div>