
@{
    ViewData["Title"] = "Wishlist";
}
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Home" asp-action="Wishlist">Wishlist</a></div>
<div class="container">
  <h1>My wishlist <span id="wishlist-heart" class="glyphicon glyphicon-heart icon"></span></h1>
    <div class="component help-container" id="wishlist">
    <h4 id="top-text">All the books are saved here in 60 days</h4>
      <div class="wishlist-div">
        <h2 class="wishlist-book-title">Title</h2>
        <span id="wishlist-remove-book" class="glyphicon glyphicon-remove"></span>
        <h5 class="book-author">By Author.Name</h5>
        <img class="book-img" src="" alt="">
      </div>
  </div>
</div>