@{
    ViewData["Title"] = "About";
}
<div class="container" id="about-container">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Home" asp-action="About">About us</a></div>    <h1>About us</h1>
    <div class="component about-container" id="">
        <p>Welcome to The Book Cave! We are one of the world's leading specialist online bookstores. Our goal is to offer as many books as possible. We already ship everywhere in Europe and in North America with free delivery, hopefully we will ship to Asia as well by the end of this year. No matter what age you are, we guarantee that you will find something that you will like!</p>
    </div>
</div>
