@{
ViewData["Title"] = "Contact";
}
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Home" asp-action="ContactUs">Contact us</a></div>
        <h1>Contact us</h1>
        <div class="component help-container input-container container">
        <div id="contact-us">
                
                 <p>No able to find the answear in our help section?</p>
                 <p>Please fill in this form.</p>
        </div>
        <form action="example.com/register" method="post" id="signin-form">
            <div class="form-group">
            <label for="username-input" id="fullname">Full name</label>
            <input id="username-input" class="form-control" type=text name="username" />
    </div>
    <div class="form-group">
            <label for="email-input">Email</label>
            <input id="email-input" class="form-control" type=email name="email"  />
            <p>We will reply the message to this email</p>
    </div>
    <div class="form-group">
            <label for="number-input">Order number</label>
            <input id="number-input" class="form-control" type=text name="number" />
    </div>
    <div class="form-group">
            <label for="reason-input">Reason</label>
            <select name="reason" id="reason-dropdown" class="form-control"> 
                <option value="myorder">My order</option>
                <option value="changeorder">Change my order</option>
                <option value="damaged">Damaged product</option>
                <option value="payment">Payment</option>
                <option value="myaccount">My account</option>
                <option value="other">Other</option>
            </select>
    </div>
    <div class="form-group">
            <label for="review-textarea">Your message</label>
            <br />
            <textarea name="review" id="review-textarea" class="form-control" ></textarea>
    </div>
           
        </form>

        <button type="submit" class="btn place-order" id="place-order" data-toggle="modal" data-target="#exampleModal">
        Send message
        </button>

               <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Message sent</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Thank you for sending us a message - We will answear you soon as possible!</p>
                    </div>
                        <div class="modal-footer">
                            <button id="close-btn" type="button" class="btn place-order" data-dismiss="modal">Close</button>
                            <button id="shop-more-btn" type="button" class="btn place-order"><a asp-controller="Home" asp-action="Index">Go to homepage</a></button>
                        </div>
                    </div>
                </div>
</div>