@{
ViewData["Title"] = "Help";
}
<div class="tree"><a href="#">Home page</a> >> <a href="#">Help</a></div>
<div class="component help-container" id="help-container">
<h1>Help</h1>
<h2>Common questions</h2>
<p>How can I contact you?</p></br>
<p>What payment types do you accept?</p></br>
<p>When will my order arrive?</p></br>
<p>Which country will you deliver to?</p></br>
</br>
<h2>Other</h2>
<p>Pre orders</p></br>
<p>Terms and conditions</p></br>
<p>Website security</p></br>
<p>Lost password</p></br>
</div>

