/*BODY BEGIN*/
body {
    padding: 0px;
    background-color: #f6f6f6;
}

.body-content{
    background-color: #f6f6f6;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 95%;
    margin: auto;
}

#tree{
    margin: 0px;
    padding: 0px;
    margin-top: -15px;
}
#tree a{
    margin: 0px;
    padding: 0px;
}

.component{
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.09); 
    box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.09);
}

.container{
    padding-left: 25px;
    padding-right: 25px;
    color: grey;
}

.break{
    clear: both;
}

a{
    color: gray;
}

h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.button-default{
    background-color: #2b9ca0;
    color: white;
}
/*BODY END*/

/* NAVBAR BEGIN */
.navbar{
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: #333333;
    border-color: #333333;
}

.navbar-nav > li > a {  color: #33b6bc !important;}
.navbar-nav > li > form > a {  color: #33b6bc !important;}
.navbar-nav > li > form {
    margin: auto;
    padding-top: 15px;
    padding-left: 10px;
}

.navbar-brand img{
    min-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: -10px;
}

.navbar-collapse{
    padding-right: 80px;
}
/* NAVBAR END */

/* FOOTER BEGIN */
footer{
    background-color: #33b6bc;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 10px;
}

.footer-container .col-md-4 ul{
    list-style: none;
}

.footer-container .col-md-4 ul li{
    text-align: left;
    text-decoration: none;
    color: #333333;
}

.footer-container .col-md-4:not(.logo-container) ul li{
    margin-bottom: 35px;
}

.footer-container .col-md-4 ul li a{
    text-decoration: none;
    color: #333333;
}

.footer-copyright{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: #2b9ca0;
}

.footer-copyright a{
    color: #333333;
    font-weight: bold;
}
/* FOOTER END */

/* INDEX BEGIN */
#index-container{
    padding: 0px;
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

#index-main-row{
    padding: 0px;
}

.input-group-btn button{
    background-color: #33b6bc;
    border-color: #33b6bc;
    color: #333333; 
}

.form-control{
    border-color: #33b6bc;
}

.left-container{
    padding: 10px;
    max-height: 670px;
    min-height: 670px;
}

.sugestion-list{
    list-style: none;
    padding-left: 5px;
}

.sugestion-list li:not(.active){
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.sugestion-list li:not(.active):hover{
    color: #33b6bc;
    cursor: pointer;
}

.active{
    padding-top: 15px;
    color: #33b6bc;
    font-size: 15px;
    font-weight: 600;
}

.input-container{
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-display{
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}

#announcement{
    color: gray;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 100px;
    margin: 0px;
}
/* INDEX END */

/* BOOK DETAILS BEGIN */

.details-left{
    padding: 20px;
    margin-left: 30px;
}

.details-right{
    padding: 20px;
}

#book-description{
    font-size: 120%;
    width: 600px;
    height: 100px;
    overflow: scroll;
}

#author-details-for-book{
    font-size: 120%;
    display: inline;

}

#h3-author-details-for-book{
    display: inline;
}

#wishlist-box{
    background-color: white;
    border: solid;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

#basket-box{
    background-color: white;
    border: solid;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    float: left;
    margin: 20px;
}

#basket-box:hover{
    cursor: pointer;
}

#wishlist-box:hover{
    cursor: pointer;
}

#basket-box p{
    text-align: center;
    padding: 5px;
}

#wishlist-box p{
    text-align: center;
    padding: 5px;
}

.icon{
    padding-left: 60px;
}

#h3-rate{
    clear: both;
}

#label-rate{
    margin-left: 80px;
    font-size: 110%;
}

.rate-stars-selector{
}

#stars-color{
    color: #FFD700;
}

#heart-color{
    color: #CD5C5C;
    font-size: 200%;

}

#cart-color{
    color: #33b6bc;
    font-size: 200%;
}

#send-rate{
    float: right;
    background-color: #33b6bc;
    border-color: #33b6bc;
    margin: 10px;
    color: white;
}

#comment-from{
    clear: both;
}

#book_model_image{
    width: 250px;
    height: 400px;
    object-fit: contain;
}

#stars{
    font-size: 24px;
}

.comments{
    padding: 20px;
    border-top: grey 1px solid;
}

.media{
    padding-left: 20px;
}
/* BOOK DETAILS END */


/* ABOUT BEGIN */
.about-container{
    padding: 30px;
    margin-bottom: 150px;
}

#about-container{
    margin-top: 10px;
}
/* ABOUT END */

/* STAFFPAGE BEGIN */

.staffpage-container{
    padding: 30px;
    margin-bottom: 150px;
}

#staffpage-container{
    margin-top: 10px;
}

#add_book {
    float: left;
    background-color: #33b6bc;
    border-color: #33b6bc;
    margin: 10px;
    color: white;
}

#staff_books{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 100px;
}

.col-1{
    width: 60%;
}

.col-2{
    width: 20%;
}

.col-4{
    width: 20%;
    text-align: center;
}

.col-4:hover{
    cursor: pointer;

}

#staff_books td, #staff_books th{
    padding: 8px;
  }
  
#staff_books tr{
  border: 1px solid;
}


#staffpage-container{
    padding: 25px;
}

/* STAFFPAGE END */

/* SIGN-IN BEGIN */
#signin-container{
    padding: 0px;
    width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
}

#signin-main-row{
    padding: 0px;
    margin-top: -15px;
    margin-bottom: 0px;
}

#signin-main-row h1{
    color: gray;
    text-align: center;
    font-weight: bold;
}

.sign-container{
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px;
    height: 500px;
    margin-bottom: 10px;
}

.sign-container h3{
    color: gray;
    font-weight: bold;
}

#signin-form .form-group{
    padding-bottom: 25px;
    color: gray;
}

#signup-form .form-group{
    padding-bottom: 15px;
    color: gray;
}

#signin-form button{
    float: right;
    background-color: #33b6bc;
    border-color: #33b6bc;
}

#signup-form button{
    float: right;
    background-color: #33b6bc;
    border-color: #33b6bc;
}
/* SIGN-IN END */

/* BOOKS BEGIN */
#books-title{
    margin:30px;
}

.book-frame{
    list-style-type: none;
}

.book-div{
    border: solid;
    width: 220px;
    height: 500px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px; 
    margin: 10px;
    padding-top: 0px;
}

.book-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.book-img{
    width: 170px;
    height: 250px;
    object-fit:cover;
}

.book-img:hover{
    cursor: pointer;
}

.book-author:hover{
    cursor: pointer;
    text-decoration: underline;
}

.book-genre:hover{
    cursor: pointer;
    text-decoration: underline;
}

.book-small-description{
    display: inline;
}

.p-small-description{
    font-size: 80%;
    font-style: light;
    line-height: 12px;
    padding-left: 10px;
    overflow: scroll;
}
/* BOOKS END */

/* CCHECKOUT BEGIN */

.h4-your-details{
    padding: 30px;
    font-size: 150%
}

#p-cedit{
    padding-left: 30px;
    font-size: 110%
}

#p-email{
    padding-left: 10px;
    font-size: 70%;
}

.form-for-checkout{
    padding-left: 50px;
    padding-right: 50px;
}

.label-save-card{
    margin-left: 80px; 
    margin-bottom: 30px;
    font-size: 130%;
}

#save-card{
    margin-left: 15px;
}

.place-order{
background-color: #33b6bc;
border-color: #33b6bc;
margin-top: 10px;
margin-bottom: 30px;
color: white;
margin-left: 200px;
font-size: 150%
}

.select-exp{
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 30px;
    box-shadow: white;
    border-color: #33b6bc;
}

#close-btn{
    float: left;
    color: white;
}

#shop-more-btn{
    float: left;
    color: white;
    font-size: 150%;
}


/* CCHECKOUT END */

/* AUTHORS BEGINS */
#author_model_image{
    width: 250px;
    height: 375px;
    object-fit: cover;
}

.ul-authors{
    list-style-type: none;
    font-size: 150%
}

.li-authors{
    margin: 30px;
}

/* AUTHORS END */



/* FRONTPAGE-BOOKS BEGIN */

.frontpage-title{
    text-align: center;
    font-size: 130%;
}

.book-div-frontpage{
    border: solid;
    width: 220px;
    height: 380px;;
    padding: 20px;
    margin: 30px;
    margin-right: 0px;
}

/* FRONTPAGE-BOOKS END */


/* USERDETAILS BEGIN */
#user-details-main-row{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

#user-details{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

#user-details img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
    cursor: pointer;
    border-radius: 50%;
}

.user-form-input input{
    border-radius: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 30px;
    box-shadow: white;
}

#sign-out{
    float: right;
    background-color: maroon;
    color: white;
}

#save_btn{
    float: left;
}

.history-container{
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
}
/* USERDETAILS END */

/* Hide/rearrange for smaller screens */
@media only screen and (min-width: 300px) and (max-width: 700px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .footer-container .col-md-4:not(.logo-container) ul li{
        display: none;
    }

    .footer-container .col-md-4:not(.logo-container) ul li{
        display: none;
    }

    #payment-options{
        display: none;
    }

    .navbar-brand{
        display: none;
    }

    .left-container{
        display: none;
    }

    #user-details-main-row{
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }
    
    #user-details{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    #user-details img{
        height: 100px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -20px;
    }
}

/* WISHLIST BEGINS */

.wishlist-row{
    padding-left: 22px;
    padding-right: 22px;
}

#wishlist-heart{
    color: #CD5C5C;;
    padding: 0px;
}

#wishlist{
   padding: 20px;
    
}

.wishlist-div{
    border: solid;
    width: 220px;
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px; 
    margin: 10px;
    margin-right: 35px;
    padding-top: 0px;
}

.wishlist-book-title{
    margin-top: -10px;
    font-size: 20px;
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#wishlist-remove-book{
    float: right;
    padding-left: 25px;
    padding-top: 7px;
    font-size: 150%;
    z-index: 20;
    
}

#wishlist-remove-book:hover{
    cursor: pointer;
}


#top-text{
    padding-bottom: 30px;
}
/* WISHLIST ENDS */

/* CART BEGINS */
#cart-mynd {
    color: #33b6bc;
    padding: 2px;

}

#cart-book-img{
    width: 150px;
    height: 300px;
    object-fit: contain;
}

#cart-title {
    text-align: center;
    font-weight: bolor;
}

#button-cart {
    background-color: #33b6bc;
    border-color: #33b6bc;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}

#remove-icon{
    font-size: 20px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.book-cart-row{
    margin-bottom: 20px;
}

#cart-item-title{
    clear: both;
}

#cart-right{
    margin-left: 20px;
    padding-bottom: 20px;
}

/* CART ENDS */