body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* NAVBAR BEGIN */
.navbar{
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.navbar-nav > li > a {  color: #33b6bc !important;}

.navbar-brand img{
    min-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: -10px;
}

.navbar-collapse{
    padding-right: 80px;
}
/* NAVBAR END */

/* FOOTER BEGIN */
footer{
    background-color: #33b6bc;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 10px;
}

.col-md-4 ul{
    list-style: none;
}

.col-md-4 ul li{
    text-align: left;
    text-decoration: none;
    color: #333333;
}

.col-md-4:not(.logo-container) ul li{
    margin-bottom: 35px;
}

.col-md-4 ul li a{
    text-decoration: none;
    color: #333333;
}

.footer-copyright{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: #2b9ca0;
}

.footer-copyright a{
    color: #333333;
    font-weight: bold;
}
/* FOOTER BEGIN */

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .navbar-brand{
        display: none;
    }
}
