@model List<BookApp.Models.AuthorViewModel>
@{
    ViewData["Title"] = "Authors";
}
<div class="container" id="">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Authors" asp-action="Authors">Authors</a></div>    
<h1>AUTHORS</h1>
<ul>
  @foreach(var author in Model)
  {
    <li>
     <a asp-controller="Authors" asp-action="Details">@author.Name</a>
    </li>
  }
</ul>
 