@model List<BookApp.Models.BookViewModel>
@{
    ViewData["Title"] = "Details";
}

<div class="container" id="">
<div id="tree"><a asp-controller="Home" asp-action="Index">Home page</a> >> <a asp-controller="Authors" asp-action="Details">Details</a></div>
<h1>AUTHORS</h1>
<ul>
  @foreach(var books in Model)
  {
    <li>
    <a asp-controller="Books" asp-action="Details"asp-route-id="@books.Id">@books.Title</a>
    </li>
  }
</ul>
</div>